In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [19]:
iris = pd.read_csv("D:\\Course\\Python\\Datasets\\iris.csv")
iris

     sepal length  sepal width  petal length  petal width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [20]:
iris_setosa = iris.iloc[0:50,0:5]
iris_versicolor = iris.iloc[50:100,0:5]
iris_vergenica = iris.iloc[100:150,0:5]

In [21]:
df1 = pd.DataFrame(iris_setosa.iloc[0:25,0:5])
df2 = pd.DataFrame(iris_versicolor.iloc[0:25,0:5])
df3 = pd.DataFrame(iris_vergenica.iloc[0:25,0:5])

In [22]:
iris_train = pd.concat([df1,df2,df3])
iris_train

     sepal length  sepal width  petal length  petal width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica

[75 rows x 5 columns]

In [23]:
# Dividing the input and output variable for Training Dataset

X_train = iris_train.iloc[:,0:4]
X_train
y_train = iris_train.iloc[:,4]
y_train

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
120    Iris-virginica
121    Iris-virginica
122    Iris-virginica
123    Iris-virginica
124    Iris-virginica
Name: iris, Length: 75, dtype: object

In [24]:
df1 = pd.DataFrame(iris_setosa.iloc[25:50,0:5])
df2 = pd.DataFrame(iris_versicolor.iloc[25:50,0:5])
df3 = pd.DataFrame(iris_vergenica.iloc[25:50,0:5])

In [25]:
iris_test= pd.concat([df1,df2,df3])
iris_test

     sepal length  sepal width  petal length  petal width            iris
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[75 rows x 5 columns]

In [26]:
X_test = iris_test.iloc[:,0:4]
X_test
y_test = iris_test.iloc[:,4]
y_test

25        Iris-setosa
26        Iris-setosa
27        Iris-setosa
28        Iris-setosa
29        Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: iris, Length: 75, dtype: object

In [9]:
#  X_train and X_test are the dataset for training and Testing
#y_train ,y_test are target predictor for Training and Testing Dataset

In [27]:
# Fitting Decision Tree Classification to the Training set
# step 1 :import libraries and methods 
from sklearn.tree import DecisionTreeClassifier
# step 2 : Create an alogrithm using imported methods 
classifier = DecisionTreeClassifier(criterion = 'entropy')
# Step3 : applying algorithm on training dataset ( Xtrain , ytrain)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [11]:
# Predicting the Test set results by applying the algorithm  only in input
#variables of testing dataset  (xtest)
y_pred = classifier.predict(X_test)
#y_pred

In [12]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[25,  0,  0],
       [ 0, 23,  2],
       [ 0,  2, 23]], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score 
Accuracy_Score = accuracy_score(y_test, y_pred)

In [14]:
Accuracy_Score

0.9466666666666667