In [1]:
import pandas as pd 
import numpy  as np

In [2]:
claimants = pd.read_csv("D:\\Course\\Python\\Datasets\\claimants.csv")

In [3]:
claimants.columns

Index(['CASENUM', 'ATTORNEY', 'CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE',
       'LOSS'],
      dtype='object')

In [4]:
del claimants['CASENUM']

In [5]:
claimants.head(10)

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038
5         0     1.0       1.0       0.0    35.0   0.309
6         0     0.0       1.0       0.0     9.0   3.538
7         0     1.0       1.0       0.0    34.0   4.881
8         1     1.0       1.0       0.0    60.0   0.874
9         1     0.0       1.0       0.0     NaN   0.350

In [10]:
import statsmodels.formula.api as sm
logit_model = sm.logit('ATTORNEY~CLMAGE+LOSS+CLMINSUR+CLMSEX+SEATBELT',data = claimants).fit()

Optimization terminated successfully.
         Current function value: 0.587523
         Iterations 8

In [11]:
logit_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1096
Model:                          Logit   Df Residuals:                     1090
Method:                           MLE   Df Model:                            5
Date:                Thu, 25 Jun 2020   Pseudo R-squ.:                  0.1505
Time:                        22:33:26   Log-Likelihood:                -643.92
converged:                       True   LL-Null:                       -758.05
Covariance Type:            nonrobust   LLR p-value:                 2.546e-47
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.2000      0.247     -0.810      0.418      -0.684       0.284
CLMAGE         0.0065      0.003      1.952      0.051   -2.75e-05       0.013
LOSS          -0.3850      0.035    -11.050      0.000      -0.453      -0.317
CLMINSUR       0.6022      0.231      2.606      0.009       0.149       1.055
CLMSEX         0.4330      0.136      3.191      0.001       0.167       0.699
SEATBELT      -0.7811      0.566     -1.380      0.168      -1.891       0.329
==============================================================================
"""

In [13]:
logit_model.params

Intercept   -0.199978
CLMAGE       0.006487
LOSS        -0.385044
CLMINSUR     0.602173
CLMSEX       0.432996
SEATBELT    -0.781079
dtype: float64

In [14]:
(np.exp(logit_model.params))

Intercept    0.818749
CLMAGE       1.006508
LOSS         0.680421
CLMINSUR     1.826083
CLMSEX       1.541870
SEATBELT     0.457912
dtype: float64

In [15]:
predict=logit_model.predict(pd.DataFrame(claimants[['CLMAGE','LOSS','CLMINSUR','CLMSEX','SEATBELT']]))

In [16]:
predict

0       0.000003
1       0.501679
2       0.576291
3       0.452142
4       0.641570
          ...
1335         NaN
1336    0.427275
1337    0.740790
1338    0.281230
1339    0.682417
Length: 1340, dtype: float64

In [17]:
from sklearn.metrics import confusion_matrix

In [18]:
#pcnf_matrix = confusion_matrix(claimants['ATTORNEY'],predict > 0.5 )

In [19]:
#pcnf_matrix

In [20]:
from sklearn.metrics import accuracy_score 

Score = accuracy_score(claimants['ATTORNEY'],predict > 0.5)

In [21]:
Score

0.6567164179104478

we can improve the performance by retuning the algorithms by using below methods

1) Handle Missing values

2) Tranformation methods

3) Consider the importance of variables


lets check with missing value using method 2 in above dataset

In [22]:
claimants

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1335         1     0.0       1.0       0.0     NaN   0.576
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 6 columns]

In [23]:
# To check the count of missing values in Each Column

claimants.apply(lambda x: sum(x.isnull()),axis=0)

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

CLMSEX , CLMINSUR , SEATBELTS are Discrete so replace with Mode 

CLMAGE is continious so replace with mean

In [25]:
# replace missing value with mean in age 

claimants['CLMAGE'].fillna(claimants['CLMAGE'].mean(),inplace = True)

In [27]:
# Replace the Discrete datatype with mode

claimants['CLMSEX'].fillna(claimants['CLMSEX'].mode()[0],inplace = True) 

claimants['CLMINSUR'].fillna(claimants['CLMINSUR'].mode()[0],inplace = True) 

claimants['SEATBELT'].fillna(claimants['SEATBELT'].mode()[0],inplace = True)

In [28]:
# To check the count of missing values in Each Column

claimants.apply(lambda x: sum(x.isnull()),axis=0)

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [38]:
y = claimants.iloc[:,0]

In [39]:
y

0       0
1       1
2       1
3       0
4       1
       ..
1335    1
1336    0
1337    1
1338    0
1339    1
Name: ATTORNEY, Length: 1340, dtype: int64

In [40]:
x=claimants.iloc[:,1:]

In [41]:
x

      CLMSEX  CLMINSUR  SEATBELT     CLMAGE    LOSS
0        0.0       1.0       0.0  50.000000  34.940
1        1.0       0.0       0.0  18.000000   0.891
2        0.0       1.0       0.0   5.000000   0.330
3        0.0       1.0       1.0  31.000000   0.037
4        0.0       1.0       0.0  30.000000   0.038
...      ...       ...       ...        ...     ...
1335     0.0       1.0       0.0  28.414422   0.576
1336     1.0       1.0       0.0  46.000000   3.705
1337     1.0       1.0       0.0  39.000000   0.099
1338     1.0       0.0       0.0   8.000000   3.177
1339     1.0       1.0       0.0  30.000000   0.688

[1340 rows x 5 columns]

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = 0)

In [43]:
from sklearn.preprocessing import MinMaxScaler #step 1
sc = MinMaxScaler() # step2

In [45]:
X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)

In [44]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression

In [46]:
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\rgandyala\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [48]:
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1], dtype=int64)

In [50]:
y_test

574     0
661     1
458     0
1023    0
958     0
       ..
333     0
754     1
995     0
1190    0
670     0
Name: ATTORNEY, Length: 335, dtype: int64

In [51]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [52]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6029850746268657